.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.bg-img{
height: 900px;
width: 1582px;
position: relative;
}
.bg-img1{
  display: none;
}
.welcome-note{
  text-align: center;
  margin-left: 500px;
  color: #afaf99;
  margin-top: -550px;
  font-size: 25px;
  width: 750px;
  -webkit-text-stroke: 1px #FFF1B4;
}

.card-page{
  margin-top: -80px;
  padding-top: 70px;
  
}
.card{
  width: 400px;
  background-color: #ca9557;
  color: white;
  border: 5px solid #352b1f;
				border-radius: 1.25rem;
        overflow:hidden;
        margin-bottom: 50px;       
}

.card-img-top{
  transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  transform: scale(1.2);
}
.card-img-top:hover{
  opacity: 0.7;
  -webkit-transform:scale(1.10);
  -moz-transform:scale(1.10);
  -ms-transform:scale(1.10);
  -o-transform:scale(1.10);
  transform:scale(1.10);
}
.about{
 width: 1582px
}
.about-img{
  width: 100%;
  height: 900px;
  opacity: 1;
}
.about-pic{
height: 400px;
margin-top: -1150px;
border: 3px solid transparent;
border-radius: 200px;
background-color: transparent;
}
.about-note{
  margin-top: -270px;
  color: white;

}
.ab-img{
 display: none;
}

.footer{
  margin-top: 100px;
   height: 70px;
  background-color: #f8f8f8;
  padding-top: 10px;
  color: black;
}
.credit{
  font-size: 18px;
  font-weight: 600;
}
.card1{
  margin-top: 250px;
  margin-left: 80px;
}
.card2{
  margin-top: -450px;
  margin-left: 1050px;
}
.card3{
  margin-top: -200px;
  margin-left: 560px;
}
.card4{
  margin-left: 1050px;
  margin-top: -100px;
}
.card5{
  margin-left: 80px;
  margin-top: -450px;
}
.card6{
  margin-left: 560px;
  margin-top: -100px;
}
.card7{
  margin-left: 80px;
  margin-top: -120px;
}
.card8{
  margin-left: 1050px;
  margin-top: -460px;
}
.car
.card-page{
  display: block;
  margin-left: -8px;
  border: 10px solid black;
  overflow: hidden;
  width: 1590px;
  background: rgb(190,150,97);
 background: radial-gradient(circle, rgba(190,150,97,1) 0%, rgba(184,151,81,1) 34%, rgba(10,10,10,1) 100%);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px){
  .bg-img{
    height: 800px;
    width: 600px;
    position: relative;
    }
    .bg-img1{
      display: none;
    }
    .welcome-note{
      text-align: center;
      margin-left: 205px;
      color: #040402;
      margin-top: -600px;
      font-weight: 100;
      font-size: 19px;
      width: 300px;
      -webkit-text-stroke: 1px #FFF1B4;
    }
    
    .card-page{
      margin-top: -80px;
      padding-top: 70px;
      display: grid;
      
    }
    .card{
      width: 400px;
      background-color: #ca9557;
      color: white;
      border: 5px solid #352b1f;
            border-radius: 1.25rem;
            overflow:hidden;
            margin-bottom: 50px;       
    }
    
    .card-img-top{
      transition:all .9s ease; 
      -moz-transition:all .9s ease; 
      -o-transition:all .9s ease;
      -ms-transition:all .9s ease; 
      transform: scale(1.2);
    }
    .card-img-top:hover{
      opacity: 0.7;
      -webkit-transform:scale(1.10);
      -moz-transform:scale(1.10);
      -ms-transform:scale(1.10);
      -o-transform:scale(1.10);
      transform:scale(1.10);
    }
    .about{
     width: 600px
    }
    .about-img{
      width: 100%;
      height: 900px;
      opacity: 1;
    }
    .about-pic{
    height: 300px;
    margin-top: -1200px;
    border: 3px solid transparent;
    border-radius: 150px;
    background-color: transparent;
    }
    .about-note{
      margin-top: -380px;
      font-weight: 100;
      width: 500px;
      color: white;
      margin-left: 40px;
    
    }
    .ab-img{
     display: none;
    }
    
    .footer{
      margin-top: 100px;
      height: 50px;
      background-color: #f8f8f8;
      color: black;
    }
    .credit{
      font-size: 18px;
      font-weight: 600;
    }
    .card1{

      margin-top: 250px;
      margin-left: 80px;
    }
    .card2{
      margin-top: 100px;
      margin-left: 80px;
    }
    .card3{
      margin-top: 100px;
      margin-left: 80px;
    }
    .card4{
      margin-left: 80px;
      margin-top: 100px;
    }
    .card5{
      margin-left: 80px;
      margin-top: 100px;
    }
    .card6{
      margin-left: 80px;
      margin-top: 100px;
    }
	 .card7{
      margin-left: 80px;
      margin-top: 100px;
    }
    .card8{
      margin-left: 80px;
      margin-top: 100px;
    }
    .card-page{
      display: block;
      margin-left: -8px;
      border: 10px solid black;
      overflow: hidden;
      width: 1590px;
      background: rgb(190,150,97);
     background: radial-gradient(circle, rgba(190,150,97,1) 0%, rgba(184,151,81,1) 34%, rgba(10,10,10,1) 100%);
    }
}
@media only screen and (max-width: 480px) {
 
  .bg-img{
display: none;
    }
    .bg-img1{
      display: inline;
      width: 450px;
      height: 690px;
      overflow-y:hidden;
    }

    .welcome-note{
      text-align: center;
      margin-left: 80px;
      color: #040402;
      margin-top: -450px;
      font-weight: 100;
      font-size: 17px;
      width: 300px;
      -webkit-text-stroke: 1px #FFF1B4;
    }
    
    .card-page{
    width: 456px;
      border: 2px solid black;
      overflow: hidden;
      background: rgb(190,150,97);
     background: radial-gradient(circle, rgba(190,150,97,1) 0%, rgba(184,151,81,1) 34%, rgba(10,10,10,1) 100%);
    }
    .card{
      width: 370px;
      background-color: #ca9557;
      color: white;
      border: 5px solid #352b1f;
            border-radius: 1.25rem;
            overflow:hidden;
            margin-bottom: 50px;       
    }
    
    .card-img-top{
      transition:all .9s ease; 
      -moz-transition:all .9s ease; 
      -o-transition:all .9s ease;
      -ms-transition:all .9s ease; 
      transform: scale(1.2);
    }
    .card-img-top:hover{
      opacity: 0.7;
      -webkit-transform:scale(1.10);
      -moz-transform:scale(1.10);
      -ms-transform:scale(1.10);
      -o-transform:scale(1.10);
      transform:scale(1.10);
    }
    .about{
     width: 450px
    }
    .about-img{
      width: 100%;
      height: 900px;
      opacity: 1;
    }
    .about-pic{
    height: 300px;
    margin-top: -1300px;
    border: 3px solid transparent;
    border-radius: 150px;
    background-color: transparent;
    }
    .about-note{
      margin-top: -450px;
      font-weight: 100;
      width: 380px;
      color: white;
      margin-left: 10px;
    
    }

    .footer{
      margin-top: 70px;
      height: 50px;
      background-color: #f8f8f8;
      color: black;
    }
    .credit{
      font-size: 18px;
      font-weight: 600;
    }
    .card1{

      margin-top: 250px;
      margin-left: 15px;
    }
    .card2{
      margin-top: 100px;
      margin-left: 15px;
    }
    .card3{
      margin-top: 100px;
      margin-left: 15px;
    }
    .card4{
      margin-left: 15px;
      margin-top: 100px;
    }
    .card5{
      margin-left: 15px;
      margin-top: 100px;
    }
    .card6{
      margin-left: 15px;
      margin-top: 100px;
    }
	.card7{
      margin-left: 15px;
      margin-top: 100px;
    }
    .card8{
      margin-left: 15px;
      margin-top: 100px;
    }
    .card-page{
      display: block;
      margin-left: -8px;
      border: 10px solid black;
      overflow: hidden;
      background: rgb(190,150,97);
     background: radial-gradient(circle, rgba(190,150,97,1) 0%, rgba(184,151,81,1) 34%, rgba(10,10,10,1) 100%);
    }
  }
